main .button{
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--green);
    color: var(--offwhite);
    border: none;
    border-radius: 14px;
    font-weight: 700;
}

main .button.create{
    grid-column: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.actions{
    position: relative;
}

.actions label{
    grid-column: 1 / -1;
    color: var(--offwhite);
    font-weight: 700;
    font-size: 20px;
}

.actions form{
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr 20fr;
}

.actions form select{
    padding-left: 8px;
    grid-column: 1;
    border-radius: 14px;
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-);
    margin-top: 20px;
    border-radius: 14px;
}

.container .list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
    padding: 15px;
    font-weight: 600;
}

.container .list > span{
    color: var(--offwhite);
}

.container .list .tarefa summary svg{
    color: var(--gray);
}

.container .list .tarefa summary{
    min-height: 70px;
    display: grid;
    grid-template-columns: 10fr 1fr 2fr 40px 40px 40px;
    gap: 10px;
    align-items: center;
    background-color: var(--gray--);
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
}

.container .list .tarefa[open] summary{
    border-radius: 8px 8px 0 0;
    border-width: 0 0 2px 0;
    border-color: var(--gray);
    border-style: solid;
}

.container .list .tarefa summary button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .list .tarefa summary form,
.container .list .tarefa summary button{
    height: 40px;
    width: 100%;
}

.container .list .tarefa summary span.pendente{
    color: var(--red);
}

.container .list .tarefa summary span.concluida{
    color: var(--green);
}

.container .list .tarefa summary span{
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .list .tarefa[open] summary span{
    overflow-wrap: break-word;
    text-overflow: wrap;
}

.container .list .tarefa p{
    background-color: var(--gray---);
    padding: 15px;
    border-radius: 0 0 8px 8px;
    color: var(--offwhite);
    overflow-wrap: break-word;
}